@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazirmatn-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazirmatn-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-family: "Source Sans 3", "Segoe UI Variable Text", "Segoe UI",
    "Noto Sans", sans-serif;
}

html[lang="fa_IR"], html[lang="fa_IR"] body {
  font-family: 'Vazirmatn', sans-serif !important;
}

html[lang="ar_SA"], html[lang="ar_SA"] body {
  font-family: 'Vazirmatn', sans-serif !important;
}
