.row {
  display: block;
  width: 100%;
  padding: 0.5rem 0.625rem;
  border-radius: var(--mantine-radius-sm);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

[data-mantine-color-scheme="light"] .row {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-2);
}

[data-mantine-color-scheme="dark"] .row {
  background-color: var(--mantine-color-dark-6);
  border-color: var(--mantine-color-dark-5);
}

.row:active {
  transform: scale(0.995);
}

.selected {
  border-color: var(--mantine-primary-color-filled) !important;
}
